.idea
.git

Dockerfile
docker-compose.yml
vendor

bootstrap/cache/services.php

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

.env
.phpunit.result.cache
